<div class="container">
  <button (click)="toggleBodyFat()" class="btn btn-primary my-sm-5">
    {{showBodyFat? "Hide" : "Show"}} Body Fat
  </button>
</div>
<table class="table container">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col" [hidden]="!showBodyFat">Body Fat %</th>
      <!--  <th scope="col" *ngIf="!showBodyFat">Body Fat %</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries">
      <td style="width:20px;">
        <a [routerLink]="['/entries/' + entry.id]">
          <span class="detailIcon"><i class="fas fa-info-circle"></i></span>
        </a>
      </td>
      <td>{{entry.date|date}}</td>
      <td>{{entry.weight}} lbs</td>
      <td [hidden]="!showBodyFat">{{entry.bodyFat|percent}}</td>
      <!-- <td *ngIf="!showBodyFat">{{entriesSvc.sortedEntries[0].bodyFat|percent}}</td> -->
    </tr>
  </tbody>
</table>

<div class="col-sm">
  <hm-new-weight-entry [showBodyFat]="showBodyFat" (create)="createNewEntry($event)"></hm-new-weight-entry>
</div>
<div class="col-sm">&nbsp;</div>